Options -Indexes

RewriteEngine on

# ErrorDocument 404 /app/controller/error.php

# Site
RewriteRule ^$ app/controller/siteController.php?action=home [QSA,L]
RewriteRule ^error/?$ app/controller/siteController.php?action=error [QSA,L]
RewriteRule ^working/?$ app/controller/siteController.php?action=working [QSA,L]
RewriteRule ^blogvisualization/?$ app/controller/siteController.php?action=blogvisualization [QSA,L]

RewriteRule ^signup/?$ app/controller/siteController.php?action=signup [QSA,L]
RewriteRule ^footer/login/?$ app/controller/siteController.php?action=processLogin [QSA,L]
RewriteRule ^footer/logout/?$ app/controller/siteController.php?action=processLogout [QSA,L]
RewriteRule ^footer/signup/?$ app/controller/siteController.php?action=processSignup [QSA,L]
RewriteRule ^login/?$ app/controller/siteController.php?action=login [QSA,L]

RewriteRule ^profile/process/admin/delete/(.*)?$ app/controller/profileController.php?action=deleteProfileProcessAdmin [QSA,L]
RewriteRule ^profile/process/user/delete/(.*)?$ app/controller/profileController.php?action=deleteProfileProcessUser [QSA,L]
RewriteRule ^profile/changeStatus/(.*)/process?$ app/controller/profileController.php?action=changeStatusProcess [QSA,L]
RewriteRule ^profile/edit/(.*)/process/?$ app/controller/profileController.php?action=editProfileProcess [QSA,L]
RewriteRule ^profile/edit/(.*)/?$ app/controller/profileController.php?action=editProfile [QSA,L]
RewriteRule ^profile/(.*)/?$ app/controller/profileController.php?action=viewProfile [QSA,L]



# Product
RewriteRule ^paintings/delete/?$ app/controller/productController.php?action=deleteProduct [QSA,L]
RewriteRule ^paintings/view/(\d+)/?$ app/controller/productController.php?action=viewProduct&pid=$1 [QSA,L]
RewriteRule ^blogs/?$ app/controller/blogController.php?action=blogs [QSA,L]
RewriteRule ^blogs/add/process/?$ app/controller/blogController.php?action=addBlogProcess [QSA,L]
RewriteRule ^blogs/view/(\d+)/?$ app/controller/blogController.php?action=viewBlog&pid=$1 [QSA,L]
RewriteRule ^blogs/delete/(\d+)/process/?$ app/controller/blogController.php?action=deleteBlogProcess&pid=$1 [QSA,L]
RewriteRule ^blogs/edit/(\d+)/process/?$ app/controller/blogController.php?action=editBlogProcess&pid=$1 [QSA,L]
RewriteRule ^blogs/edit/(\d+)/?$ app/controller/blogController.php?action=editBlog&pid=$1 [QSA,L]
RewriteRule ^follow/(\d+)/?$ app/controller/productController.php?action=follow&pid=$1 [QSA,L]
RewriteRule ^unfollow/(\d+)/?$ app/controller/productController.php?action=unfollow&pid=$1 [QSA,L]

RewriteRule ^add/process/?$ app/controller/productController.php?action=addProductProcess&pid=$1 [QSA,L]

RewriteRule ^add/?$ app/controller/productController.php?action=addProduct&pid=$1 [QSA,L]
RewriteRule ^login/?$ app/controller/siteController.php?action=login [QSA,L]
RewriteRule ^logout/?$ app/controller/siteController.php?action=logout [QSA,L]
RewriteRule ^paintings/edit(\d+)/process/?$ app/controller/productController.php?action=editProductProcess&pid=$1 [QSA,L]
RewriteRule ^paintings/edit(\d+)/?$ app/controller/productController.php?action=editProduct&pid=$1 [QSA,L]
RewriteRule ^paintings/?$ app/controller/productController.php?action=products&ptype=paintings [QSA,L]

RewriteRule ^photographs/?$ app/controller/productController.php?action=products&ptype=photographs [QSA,L]

RewriteRule ^checkout/?$ app/controller/productController.php?action=checkout [QSA,L]

RewriteRule ^blogs/vizData/?$ app/controller/productController.php?action=getVizData [QSA,L]
RewriteRule ^blogs/editTitle/process/?$ app/controller/productController.php?action=editTitleProcess [QSA,L]
RewriteRule ^blogs/deleteBlog/process/?$ app/controller/productController.php?action=deleteBlog [QSA,L]

RewriteRule ^blogs/addComment/process/?$ app/controller/productController.php?action=addCommentProcess [QSA,L]
